<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <h1>welcome to <i class="fas fa-book"></i><strong>Bookers!!</strong></h1>
        <p>In <i class="fas fa-book"></i><strong>Bookers,</strong></p>
        <p>you can share and exchange  your opinions , inpressions , and emotions</p>
        <p> about various books!</p>
        <div class="btn-wrapper col-10 mx-auto">
          <div class="row">
            <div class="btn btn-info btn-sm btn-block mb-3">
              <%= link_to "Log in", new_user_session_path %>
            </div>
          </div>
          <div class="row">
            <div class="btn btn-success btn-sm btn-block">
              <%= link_to "Sign up", new_user_registration_path %>
            </div>
          </div>
          <div class="row"></div>
        </div>
      </div>
    </div>
  </div>
</main>