@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


h2 {
  width: 150px;
}

.navbar_collapse {
  display: flex!important;
} 

.navbar_nav {
  display: flex;
}

.form_control {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
